* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button {
  width: 100%;
  position: relative;
  border: none;
  border-radius: 5px;
  background: aquamarine;
  padding: 7px 25px;
  cursor: pointer;
  color: white;
}
button:hover {
  background: black;
}
